* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    margin: 0px;
    background-color: #222222;
    color: #ffeeee;
    overflow-y: hidden;
}

form {
    font-size: 14pt;
    padding-left: 10px;
}
@media (width < 600px) {
    form {
        font-size: 12pt;
    }
}

form input {
    font-size: inherit;
}

form input[type="checkbox"] {
    height: 20px;
    width: 20px;
}
